<div class="row container-fluid">
    <h1 class="tableHeading">
            Server Configurations
    </h1>
</div>
<div class="row container-fluid">
    <div [ngClass]="showDetails? 'col-md-8' : 'col-md-12'">
        <ngx-datatable
            class="material striped"
            [rows]="configurations"
            [columns]="columns"
            [columnMode]="'force'"
            [headerHeight]="50"
            [footerHeight]="50"
            [rowHeight]="50"
            [selectionType]="'multi'"
            (select)="configurationSelect($event)"
            [externalPaging]="true"
            [limit]="page.pageCount"
            [count]="page.items"
            [offset]="page.pageNumber"
            (page)="getPage($event)"
        >
    </ngx-datatable>
    </div>
    <div [ngClass]="showDetails? 'col-md-4' : 'invisible'">
        <configuration-detail [config]="selectedConfigurations" (detailClose)="closeDetailsPanel()"></configuration-detail>
    </div>
</div>