@import '~@swimlane/ngx-datatable/release/index.css';
@import '~@swimlane/ngx-datatable/release/themes/material.css';
@import '~@swimlane/ngx-datatable/release/themes/dark.css';
@import '~@swimlane/ngx-datatable/release/themes/bootstrap.css';
@import '~@swimlane/ngx-datatable/release/assets/icons.css';

.tableHeading {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 28px;
    color: #3498DB;
    margin-left: 10px;
}